@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: url("https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png");
  background-color: #d3e9e2;
  font-family: "Nanum Gothic", sans-serif;
  margin: 0;
  margin-bottom: 50px;
  width: 100%;
}

img {
  width: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 1300px;
  margin: auto;
  max-width: 100%;
}

.user {
  padding-top: 1rem;
  flex-direction: column;
}

.social {
  padding-top: 1rem;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 0.5px solid gray;
  transition: 0.2s ease-out background;
  margin-left: 1rem;
}

.user a:hover {
  background: #97cdd4;
}

.user a img {
  width: 1.2rem;
}

.avatar {
  width: 4rem;
  border-radius: 50%;
}

.name {
  margin-left: 1rem;
}

@media screen and (max-width: 768px) {
  .flex {
    flex-direction: column;
  }

  .social {
    flex-direction: row;
  }
}

h1 {
  text-align: center;
  padding: 3rem 0;
  font-size: 2.5rem;
  font-weight: 300;
  font-family: "Nanum Gothic", sans-serif;
}

h2 {
  text-align: center;
  text-decoration-line: underline;
}

/* h2::after {
  content: "";
  background-color: #000;
  border-radius: 10px;
  position: absolute;
  bottom: -9px;
  left: 0;
  height: 0.5px;
  width: 50%;
} */

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  transition: 0.1s ease-in all;
}

ul li {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 20px;
  width: 300px;
  border-radius: 7px;
  overflow-y: hidden;
}

ul li:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

ul li a {
  color: #000;
  text-decoration: none;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

ul li img {
  display: block;
  object-fit: cover;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
  height: 200px;
  width: 300px;
}

ul li p {
  font-weight: bold;
  padding: 0 20px;
}

.links-container {
  padding: 15px;
  margin-top: 15px;
}

.links-container a {
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-decoration: none;
  margin-right: 5px;
  height: 35px;
  width: 35px;
  transition: transform 0.3s ease;
}

.links-container a.blue {
  background-color: #34a0e9;
  border-radius: 50%;
}

.links-container a.github {
  background-color: #1d1b1b;
  border-radius: 50%;
}

.links-container a.live {
  background-color: #33eb80;
  border-radius: 50%;
}

.links-container a:hover {
  transform: scale(1.1);
}

footer {
  background-color: rgba(255, 255, 255, 0.795);
  color: rgb(48, 48, 48);
  font-size: 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
  width: 100%;
  text-align: center;
}

footer a {
  color: rgb(26, 26, 26);
}

footer i {
  color: rgb(206, 39, 39);
}
